<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your lucky number is {{ number }}</title>
</head>
<body>
<div>Your lucky number is {{ number }}</div>

</body>
<body>

</body>
</html>